.grid-container{
    background-color:red ;
     display:grid;
     grid-template-columns: auto auto auto auto auto ;
     padding:10px;
     gap:10px;
     grid-template-rows: auto auto auto auto auto;
    justify-content:space-between;
}
.griditem{
    background-color:aqua;
    border:5px solid black;
}