#div1{
    background-image: url(https://images.squarespace-cdn.com/content/v1/612d4825ee7c3b7ba3e215b7/ae22bf6f-c6ae-4061-a015-e3fbfad795ad/Pakistani+cuision.png);
    padding:80px;
    position:static;
    margin:30px;
    color:blue ;
    border:50px; color:azure;
}